<div class="edit-client">
    <h2>Edit Client</h2>
    <form >
      <div class="form-group">
        <label for="clientName">Client Name:</label>
        <input type="text" id="clientName" name="clientName"  required>
      </div>
      <div class="form-group">
        <label for="clientStatus">Client Status:</label>
        <select id="clientStatus" name="clientStatus" required>
          <option value="Active">Active</option>
          <option value="Not Active">Not Active</option>
        </select>
      </div>
      <button type="submit">Save Changes</button>
    </form>
  </div>
  
